.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

.transaction-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: #555555;
    font-weight: 500;
}

.font-text {
    background-color: rgba(169, 169, 169, 0.559);
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
    border-radius: 5px;
}


.form-input,
.form-select,
.form-textarea {
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: #333333;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-input:focus,
.form-select:focus,
.form-textarea:focus {
    border-color: #959595;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
    outline: none;
}

.form-textarea {
    resize: vertical;
    min-height: 100px;
}

.form-button {
    padding: 12px 20px;
    background-color: #565656;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.form-button:active {
    transform: translateY(0);
}